.shares {
    position: relative;
    margin-bottom: 20px;
    @media screen and (max-width: 720px){
        display: inline-block;
        margin-right: 20px;
    }
    @media screen and (max-width: 320px){
        margin-right: 0;
    }
    .button{
        width: 242px;
        height: 50px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        font-size: 16px;
        text-align: center;

        color: #333333;
        display: flex;
        align-items: center;
        justify-content:center;
        margin: auto;
        background: #fff;
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
    }
}
