.place {
    background: #fff;
    margin-top: 40px;
    padding: 28px;
    .h1{
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        font-size: 24px;
        letter-spacing: 0.18em;
        text-transform: uppercase;

        color: #333333;
        text-align: center;
    }
    &__cell{
        transition: all .4s;
        width: 234px;
        position: relative;
        visibility: hidden;
        @media screen and (max-width: 720px){
            width: 100%;
            margin-bottom: 40px;
          }
        &:after{
            content: '';
            position: absolute;
            background-image: url(/static/left-arrow.png);
            width: 34px;
            height: 34px;
            top: 35%;
            right: -23%;
            @media screen and (max-width: 720px){
                display: none;
              }
        }
        .image{
            width: 234.21px;
            height: 176.07px;
            @media screen and (max-width: 720px){
                display: block;
                margin: auto;
              }
        }
        &:last-child {
            margin-right: 0;
            &:after{
                display: none;
            }
        }
        .text{
            font-style: normal;
            font-weight: normal;
            line-height: normal;
            font-size: 16px;
            text-align: center;
            margin-top: 20px;

            color: #333333;
        }
    }
    &__row{
        display: flex;
        overflow: hidden;
        margin-top: 40px;
        margin-bottom: 20px;
        justify-content: space-between;
        @media screen and (max-width: 720px){
          display: block;
        }
    }
}
