.footer {
    height: 196px;
    margin-top: 40px;
    background: #333333;
    @media screen and (max-width: 720px){
        height: auto;
        padding: 24px 0;
    }
    &__two{
    background: #333333;
    padding-bottom: 20px;
    .footer__content-two{
        display: flex;
        max-width: 1200px;
        margin: auto;
        align-items: center;
        justify-content: center;
        @media screen and (max-width: 720px){
            padding: 0 24px;
            margin-top: 24px;
            justify-content: space-between;
        }
        a{
            text-decoration: none;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            font-size: 14px;
            color: #63C93F;
            padding-left: 10px;
        }

    }
    .text-copy{
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        font-size: 10px;
        text-align: center;
        flex-grow: 1;

        color: #A4A4A4;
        @media screen and (max-width: 720px){
            flex-grow: 0;
        }
        }
    .text-author{
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        font-size: 10px;
        text-align: right;

        color: #7B7B7B;
    }
    }
    &__content{
        max-width: 1200px;
        margin: auto;
        display: flex;
        align-items: center;
        height: 100%;
        @media screen and (max-width: 1200px){
            max-width: 1024px;
        }
        @media screen and (max-width: 720px){
            padding: 0 24px;
        }
        @media screen and (max-width: 720px){
            display: block;

        }
    }
    &__logo{
        flex-grow: 1;
        @media screen and (max-width: 335px){
            text-align: center;
        }
        .logo{
            display: block;
        }
    }
    &__middle{
        flex-grow: 15;
        justify-content: space-between;
        display: flex;
        @media screen and (max-width: 720px){
            display: block;
            flex-grow: 1;
        }
    }
    &__cell{
        margin-left: 100px;
    }
    &__link{
            .link{
                font-style: normal;
                font-weight: normal;
                line-height: normal;
                font-size: 16px;
                padding-bottom: 10px;
                display: block;
                min-width: 100px;
                color: #FFFFFF;
                text-decoration: none;
                &:hover{
                    color: #63C93F;
                }
            }

    }
    &__contacts{
        margin-left: 50px;
        margin-right: 15px;
        @media screen and (max-width: 1200px){
            display: none;
        }
        .text{
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            font-size: 16px;
            letter-spacing: 0.6px;
            color: #FFFFFF;
            .image{
                width: 18px;
                height: 18px;
            }
        }
    }
    &__menu{
        display: flex;
        width: 100%;
        @media screen and (max-width: 720px){
            display: none;
        }
    }
    &__info{
        text-align: right;
        @media screen and (max-width: 335px){
            text-align: center;
            margin-top: 36px;
        }
        .button {
            width: 148px;
            height: 34px;
            margin-top: 11px;
            display: block;
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: center;
            @media screen and (max-width: 335px){
                margin: auto;
                margin-top: 50px;
            }
        }
        .text{
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            font-size: 16px;
            letter-spacing: 0.6px;
            margin-bottom: 4px;
            color: #FFFFFF;
        }
        .link{
            text-decoration: none;
            font-size: 16px;
            color: #63C93F;
        }
    }
}
