.headline {
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 24px;
    letter-spacing: 0.18em;
    text-transform: uppercase;
    text-align: center;
    background: #fff;
    color: #333333;
    padding: 30px 0;
    border-bottom: 1px solid #DFDFDF;
    &__text{
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        font-size: 14px;
        text-align: left;
        color: #333333;
        letter-spacing: normal;
        text-transform: none;
        max-width: 1200px;
        margin: auto;
        @media screen and (max-width: 720px){
            padding: 0 24px;
        }
    }
}
