.slider{
    width: 100%;
    z-index: 1;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    position: relative;
     .slider__dots{
         text-align: center;
         margin-bottom: 40px;
        .slider__dot {
            width: 14px;
            height: 14px;
            background: #E1E1E1; 
            cursor: pointer;
            border-radius: 50%;
            outline: none;
            transition: all .2s;
            margin: 0 7px;
            display: inline-block;
            &:last-child{
                margin-right: 0;
            }
            &:hover{
                    background-color: #63C93F;
                    opacity: 1;
            }
            &.active{
                background-color: #63C93F;
                opacity: 1;
            }
        }
    }
    .owl-item {
        min-height: 1px;
        float: left;
        -webkit-backface-visibility: hidden;
        -webkit-touch-callout: none;
        -webkit-tap-highlight-color: transparent;
        position: relative;
    }
    &__dot{
        background: 0 0;
        color: inherit;
        border: none;
        padding: 0!important;
        cursor: pointer;
        font: inherit;
    }
    &__stage-outer{
        position: relative;
        overflow: hidden;
        -webkit-transform: translate3d(0,0,0);
    }
    &__stage{
        position: relative;
        -ms-touch-action: pan-Y;
        touch-action: manipulation;
        -moz-backface-visibility: hidden
    }
    &_loaded{
        display: block;
    }
    &__item{
        .image{
            display: block;
            width: 100%;
            max-height: 402px;
            height: 100%;
        }
    }
    &__nav{
        &.disabled{
            display: none;
        }
    } 
}