.button {
    border: none;
    cursor: pointer;
    &_type{
        &_link{
            display: block;
            text-decoration: none;
        }
    }
        
    &_theme{
        &_green{
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            font-size: 14px;
            text-align: center;
            color: #FFFFFF;
            
            background: #63C93F;
        }
        &_gray{
            background: #E0E0E0;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            font-size: 14px;
            text-align: center;
            color: #252525;
        }
    }
    &_size{
        &_xxl{
            width: 250px;
            height: 50px;
            line-height: 50px;
            margin-top: 20px;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }
}
