.reviews {
    
    margin-top: 20px;
    &__content{
        margin-top: 26px;
    }
    &__wrap{
        padding: 28px;

    }
    .h2{
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        font-size: 18px;
        letter-spacing: 0.18em;
        text-align: center;
        text-transform: uppercase;
        color: #333333;
    }
    &__cell{
        display: inline-block;
        width: calc(100%/4-20px);
        padding: 0 10px;
        margin-bottom: 20px;
        @media screen and (max-width: 720px){
            width: calc(100%/2-20px);
            .reviews__image{
                display: block;
                margin: auto;
            }
        }
    }
    .button{
        width: 242px;
        height: 50px;
        display: block;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__image{
        max-width: 283px;
        max-height: 283px;
        height: 100%;
        width: 100%;
        .image{
            width: 100%;
            height: 100%;
        }
    }
}
