.page_theme_islands {
    font-family: 'Roboto',Arial,Tahoma;
    font-size: 16px;  
    background: #EFEFEF;
}
.content{
    overflow: hidden;
    margin-top: 100px;
}
.wrap{
    max-width: 1200px;
    margin: auto;
    @media screen and (max-width: 1300px){
        max-width: 1024px;
    }
}