.contacts {
    &__wrap{
        padding: 28px;
        margin-top: 20px;
    }
    &__content{
        margin-top: 20px;
    }
    .h1{
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        font-size: 18px;
        letter-spacing: 0.18em;
        text-transform: uppercase;
        text-align: center;
        color: #333333;
    }
    .h2{
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        font-size: 16px;

        color: #333333;
        margin-bottom: 10px;
    }
    &__cell{
        width: calc(100%/4);
        display: inline-block;
        vertical-align: top;
        @media screen and (max-width: 720px){
            width: calc(100%/2);
            margin-bottom: 50px;
        }
        @media screen and (max-width: 475px){
            width: calc(100%/1);
            margin-bottom: 50px;
        }
    }
   .text{
        font-style: normal;
        font-weight: normal;
        line-height: 24px;
        font-size: 16px;

        color: #333333;
    }
    .image{
        width: 18px;
        height: 18px;
        vertical-align: middle
    }
}
