.social {
    &__item {
        margin-right: 5px;
        width: 25px;
        height: 25px;
        display: inline-block;
        .image {
            width: 100%;
            height: 100%;
        }
    }
}
