.header {
    background: #333333;
    height: 100px;
    width: 100%;
    position: fixed;
    z-index: 99999;
    top: 0px;
    
    &__content{
        max-width: 1200px;
        margin: auto;
        display: flex;
        align-items: center;
        height: 100%;
        @media screen and (max-width: 1200px){
            max-width: 1024px;
        }
        @media screen and (max-width: 720px){
            padding: 0 24px;
        }
    }
    &__link{
        display: inline-block;
        flex-grow: 1;
        .link{
            display: block;
            text-decoration: none;
            font-style: normal;
            font-weight: normal;
            line-height: normal;
            font-size: 16px;
            text-align: center;

            color: #FFFFFF;
            &:hover{
                color: #63C93F;
            }
        }
    }
    &__menu{
        flex-grow: 1;
        display: flex;
        align-items: center;
        padding-right: 30px;
    }
    &__info{
        text-align: right;
        .text{
            font-style: normal;
            line-height: normal;
            font-size: 16px;
            margin-bottom: 4px;

            color: #FFFFFF;
        }
        .link{
            text-decoration: none;
            font-size: 16px;
            color: #63C93F;
        }
    }
    &__logo{

        flex-grow: 1;
        .logo{
            display: block;
        }
    }
    &__middle{
        flex-grow: 15;
        justify-content: space-between;
        display: flex;
        @media screen and (max-width: 720px){
           display: none;
        }
    }
}
