.training {
    &_indent{
        &_top{
            padding: 28px;
        }
    }
    
   
    @media screen and (max-width: 720px){
        padding: 0;
    }
    
    &__wrap{
        padding: 28px;
        @media screen and (max-width: 720px){
            padding: 0;
        }
    }
    .h1{
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        font-size: 18px;
        letter-spacing: 0.18em;
        text-transform: uppercase;

        color: #333333;
        text-align: center;

        @media screen and (max-width: 720px){
            padding: 20px 0;
        }
    }
    &__item{
        display: table;
        vertical-align: top;
        border-bottom: 1px solid #DFDFDF;
        padding: 5px 0;
        @media screen and (max-width: 720px){
            display: block;
            padding: 24px 24px;
        }
    }
    &__button{
        @media screen and (max-width: 720px){
            margin-bottom: 20px;
        }
        .button{
            width: 268px;
            height: 47px;
            display: flex;
            justify-content: center;
            align-items: center;
            @media screen and (max-width: 1300px){
                width: 170px;
            }
        }
    }
    &__h1{
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        font-size: 16px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        margin-top: 20px;

        color: #333333;
        @media screen and (max-width: 720px){
            margin-top: 0;
        }
    }
    &__text{
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        margin-top: 10px;
        font-size: 14px;
        width: 90%;
        margin-bottom: 10px;

        color: #A0A0A0;
        @media screen and (max-width: 720px){
            width: 100%;
        }
    }
    &__tools-cell{
        display:inline-block;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        font-size: 14px;
        margin-right: 70px;

        
        color: #333333;
        span{
            color: #63C93F;
            padding: 0 2px;
        }
        .link{
            text-decoration: none;
            font-size: 14px;
            color: #63C93F;
        }
        @media screen and (max-width: 720px){
            margin-right: 15px;
        }
    }
    &__middle{
        vertical-align: top;
        display: table-cell;
        padding-left: 20px;
        @media screen and (max-width: 720px){
            display: inline-block;
            width: 70%;
            padding-left: 10px;
        }
        @media screen and (max-width: 375px){
            width: 100%;
            padding: 0;
            margin-top: 24px;
        }
    }
    &__button{
        display: table-cell;
        vertical-align: middle;
        &_align{
            &_right{
                display: flex;
                justify-content: flex-end;
                margin-top: 20px;
            }
        }
        @media screen and (max-width: 720px){
            display: block;
            text-align: center;
            margin-top: 20px;
            .button{
                margin: auto;
            }
        }
    }
    &__image{
        width: 132px;
        height: 132px;
        display: inline-block;
        background: #ccc;
        @media screen and (max-width: 720px){
            width: 80px;
            height: 80px;
        }
        @media screen and (max-width: 375px){
            width: 100%;
            height: 300px;
        }
        .image{
            width: 100%;
            height: 100%;
        }
    }
}
