.modal {
    &_size{
        &_xl{
            .modal__content{
                width: 1210px;
                @media screen and (max-width: 720px){
                    width: 100%;
                    margin: 0 !important;
                }
            }
        }
    }
    &__content {
        img{
            display: block;
        }
    }
    .row__col_mw_6{
        @media screen and (max-width: 720px){
            display: none;
        }
    }
    &__form{
        padding: 50px;
        padding-bottom: 0;
        @media screen and (max-width: 720px){
            display: block !important;
            padding: 0px;
            padding-bottom: 20px;
        }
        .button{
            width: 315px;
            height: 61px;
            display: block;
            margin: auto;
            margin-top: 20px;
            @media screen and (max-width: 720px){
                
                width: 80%;
            }
        }
        .text{
            margin-top: 20px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            font-size: 16px;
            text-align: center;

            color: #000000;
        }
        .link{
            text-decoration: none;
            font-size: 16px;
            color: #63C93F;
        }
        .input__control{
            width: 315px;
            height: 60px;

            background: #FFFFFF;
            border: 1px solid #E5E5E5;
            box-sizing: border-box;
            padding-left: 15px;
            display: block;
            margin: auto;
            margin-top: 20px;
            @media screen and (max-width: 720px){
                
                width: 80%;
            }
        }
        .text_type_h1{
            
            font-family: Roboto;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            font-size: 24px;
            letter-spacing: 0.18em;
            text-transform: uppercase;
            text-align: center;

            color: #333333;
            margin-bottom: 15px;
            @media screen and (max-width: 720px){
                font-size: 14px;
            }
        }
        .text_type_h2{
            font-family: Roboto;
font-style: normal;
font-weight: 500;
line-height: normal;
font-size: 16px;
text-align: center;
letter-spacing: 0.1em;
text-transform: uppercase;

color: #333333;
@media screen and (max-width: 720px){
    font-size: 10px;
}
        }
    }
}
