.employees {
    .h2{
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        font-size: 18px;
        letter-spacing: 0.18em;
        text-transform: uppercase;
        text-align: center;
        color: #333333;
        margin-bottom: 20px;
    }
    .employees-h1{
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        font-size: 18px;
        padding-top: 45px;
        text-align: center;
        padding-bottom: 40px;

        color: #333333;
    }
    &__wrap{
        padding: 28px;
    }
    &__cell{

        width: calc(25% - 20px);
        display: inline-block;
        margin: 0 10px;
        &:last-child{
            margin-right: 0;
        }
        @media screen and (max-width: 720px){
            width: calc(100%/2- 20px);
            margin-bottom: 20px;
        }
    }
    &__image{
        width: 100%;
        height: 205px;
        @media screen and (max-width: 720px){
            height: auto;
        }
        .image{
            width: 100%;
            height: 100%;
        }
    }
    &__name{
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        font-size: 14px;
        text-align: center;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        margin-top: 10px;
        margin-bottom: 10px;
        color: #333333;
    }
    &__post{
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        font-size: 14px;
        text-align: center;
        text-transform: capitalize;

        color: #A0A0A0;
    }
    &__button{
        .button{
            width: 173px;
            height: 29px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: auto;
            margin-top: 10px;
            @media screen and (max-width: 320px){
                width: 100%;
            }
        }
    }
}
.slider__item{
    text-align: center;
    .employees__cell{
        width: calc(38% - 20px);
        margin-bottom: 20px;
    }
}
.employees-item{
    padding: 0 25px;
    padding-top: 30px;

    display: flex;
    border-bottom: 1px solid #DFDFDF;
    /* height: 100%; */
    padding-bottom: 30px;
    @media screen and (max-width: 720px){
        display: block;
        padding-left: 0;
        padding-right: 0;
    }
    &__name{
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        font-size: 18px;
        letter-spacing: 0.1em;
        text-transform: uppercase;

        color: #333333;
    }
    &__post{
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        font-size: 14px;
        text-transform: capitalize;
        margin-top: 12px;
        margin-bottom: 20px;

        color: #A0A0A0;
    }
    &__h2{
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        font-size: 14px;
        letter-spacing: 0.1em;
        margin-bottom: 12px;
        color: #333333;
    }
    &__text{
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        font-size: 14px;

        color: #333333;
    }
    &__image{
        min-width: 228.6px;
        max-width: 228.6px;
        height: 267px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #ccc;
        @media screen and (max-width: 720px){
            display: block;
            margin: auto;
            margin-bottom: 20px;
        }
        .image{
            width: 100%;
        }
        
    }
    &__main{
        margin-left: 25px;
    }
}