.examples {
    .h1{
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        font-size: 18px;
        letter-spacing: 0.18em;
        text-transform: uppercase;
        text-align: center;
        color: #333333;
    }
    .button{
        width: 242px;
        height: 50px;
        display: block;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
    }
    &__wrap{
        padding: 28px;
    }
}
