.row {
    display: flex;
    @media screen and (max-width: 720px){
        display: block;
    }
    &_indent{
        &_none{
            padding: 0 !important;
            margin: 0 !important;
        }
    }
    &_type{
        &_text{
            padding-left: 40px;
            @media screen and (max-width: 720px){
                padding: 0 24px;
                .image{
                    width: 100%;
                }
            }
            .row__col_mw_8{
                padding-top: 40px;
              

            }
            .row{
                justify-content: space-between;
                padding-right: 50px;
            }
            .text{
                font-style: normal;
                font-weight: 300;
                line-height: 27px;
                font-size: 16px;
                color: #333333;
            }
            .h2{
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                font-size: 18px;
                text-align: left;
                letter-spacing: 0.18em;
                text-transform: uppercase;
                padding-bottom: 30px;

                color: #333333;
            }
        }
    }
    &__col{
        display: inline-block;
        &_border{
            border-right: 1px solid #DFDFDF;
        }
        .h1{
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            font-size: 24px;
            letter-spacing: 0.18em;
            text-transform: uppercase;
            text-align: center;
            color: #333333;
            margin: 40px 0;
        }
        &_mw{
            &_3{
                width: calc(100%/4-20px);
                margin-left: 20px;
                @media screen and (max-width: 720px){
                    width: 100%;
                    text-align: center;
                    margin-left: 0;
                }
               
            }
            &_7{
                width: 58.333333%;
                @media screen and (max-width: 720px){
                    width: 100%;
                }
            }
            &_6{
                width: 50%;
                @media screen and (max-width: 720px){
                    width: 100%;
                }
            }
            &_5{
                width: 41.666667%;
                @media screen and (max-width: 720px){
                    width: 100%;
                }
            }
            &_4{
                width: 33.333333%;
                @media screen and (max-width: 720px){
                    width: 100%;
                }
            }
            &_8{
                width: 66.666667%;
                @media screen and (max-width: 720px){
                    width: 100%;
                }
            }
            &_9{
                width: 75%;
                @media screen and (max-width: 720px){
                    width: 100%
                }
            }
        }
    }
}
