.promo {
    height: 600px;
    background-size: cover;
    background-position: 50% 50%;
    display: flex;
    align-items: center;
    @media screen and (max-width: 400px){
        padding: 50px 0;
        height: auto;
    }
    &__cell{
        width: 50%;
        display: inline-block;
        vertical-align: top;
        @media screen and (max-width: 720px){
            width: 100%;
        }
        &_align{
            &_right{
                text-align: right;
                vertical-align: bottom;
                @media screen and (max-width: 720px){
                    text-align: left;
                    margin-top: 30px;
                }
            }
        }
    }
    .button_theme_green{
        width: 284px;
        margin-top: 30px;
        color: #FFFFFF;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        font-size: 18px;
        text-align: center;

        color: #FFFFFF;
    }
    &__app-info{
        display: inline-block;
        text-align: left;

        
    }
    &__app--image{
        margin-top: 10px;
        .link{
            display: inline-block;
        }
        .image{
            margin-right: 10px;
        }
    }
    &__content{
        max-width: 1200px;
        width: 100%;
       
        
        margin: auto;
        @media screen and (max-width: 1200px){
            max-width: 1024px;
        }
        @media screen and (max-width: 720px){
            padding: 0 24px;
        }
        .h1{
            font-style: normal;
            font-weight: bold;
            line-height: normal;
            font-size: 48px;
            width: 95%;
            color: #FFFFFF;
            @media screen and (max-width: 400px){
                font-size: 33px;
            }
        }
        .text{
            font-style: normal;
            font-weight: 300;
            line-height: 24px;
            
            letter-spacing: 0.6px;
            font-size: 16px;
            width: 80%;
            margin-top: 15px;
            color: #FFFFFF;
        }
    }
}
