.tabs{
    margin-top: 24px;
    ul{
        padding: 0;
        margin: 0;
        li{
            list-style: none;
        }
    }
    &_theme{
        &_green{
            .tabs__tab--active{
                background: #63C93F;
                border-radius: 0px;
                font-style: normal;
                padding: 0 !important;
                span{
                    color: #fff !important;
                   
                    
                }
            }
            .tabs__content{
                .row{
                    justify-content: space-between;
                    padding: 0 24px;
                    .text{
                        font-style: normal;
                        font-weight: 300;
                        line-height: 27px;
                        font-size: 16px;

                        color: #333333;
                    }
                }
                .h2{
                    font-weight: 500;
                    line-height: normal;
                    font-size: 18px;
                    text-align: center;
                    letter-spacing: 0.18em;
                    text-transform: uppercase;

                    color: #333333;
                }
            }
            .tabs__tab{
                width: 285px;
                height: 88.78px;
                display: flex;
                align-items: center;
                padding: 0;
                border-right: 1px solid #DFDFDF;
                border-bottom: 1px solid #DFDFDF;
                @media screen and (max-width: 720px){
                    text-align: center;
                    height: 50px;
                }
                span{
                    padding-left: 40px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: normal;
                    font-size: 18px;
                    text-align: center;

                    color: #333333;
                    @media screen and (max-width: 720px){
                        padding: 0;
                        display: block;
                        margin: auto
                    }
                }
            }
        }
        
    }  
    @media screen and (max-width: 720px){
        .tabs__table{
            display: flex;
            min-width: 1200px;
        }
    }
    
   
    &_type{
        &_horizontally{
            margin-top: 0;
            .tabs__navigation{
                background: #ffffff;
                @media screen and (max-width: 720px){
                    width: 100%;
                    overflow: scroll;
                }
            }
            .tabs__wrap{
                background: #fff;
                max-width: 1200px;
                margin: auto;
                display: block;
            }
            .tabs__tab{
                width: auto;
                flex-grow: 1;
                height: 62px;
                span{
                    font-style: normal;
                    font-weight: 300;
                    line-height: normal;
                    font-size: 16px;
                    text-align: center;
                    text-transform: capitalize;
                    display: block;
                    margin: auto;
                    padding-left: 0;
                }
            }
            .tabs__table{
                width: 100%;
                display: flex;
                max-width: 1200px;
            }
        }
        &_row{
            display: flex;
            margin-top: 0;
            @media screen and (max-width: 720px){
                display: block;
            }
            .tabs__navigation{
                width: 285px;
                display: block;
                @media screen and (max-width: 720px){
                    width: 100%;
                    overflow: scroll;
                }
            }
        }
    }
    &__wrap{
        width: 100%;
    }
    &__cell{
        display: inline-block;
        width: calc(100%/6);
        margin-top: -4px;
        @media screen and (max-width: 720px){
            width: calc(100%/3);
        }
        .image{
            width: 100%;
        }
    }
 
    width: 100%;
    &__content{
        opacity: 0;
        display: none;
        visibility: hidden;
        margin-top: 40px;
        
    }
    &__tab--active{
        display: block;
        font-weight: bold !important;
        color: #63C93F !important;
        @media screen and (max-width: 720px){
            background: #dadfe3;
            border-radius: 50px;
            /* padding: 7px; */
            color: #ffff !important;
            font-weight: 300 !important;
            font-style: italic;
            padding: 5px 13px !important;
        }
    }
    &__tab{
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 16px;
        text-align: center;
        text-transform: capitalize;
        padding: 0 13px;
        letter-spacing: 0.6px;
        color: #A2A2A2;
        text-decoration: none;
        @media screen and (max-width: 720px){
            display: inline-block;
            margin-bottom: 10px;
            
        }
    }
    
    &__navigation{
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        @media screen and (max-width: 720px){
            display: block;
        }
    }
}
.active{
    display: block;
    opacity: 1;
    visibility: visible;
    transition: all .4s;
}
.tabs__content_indent_top{
    margin-top: 0;
}