.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    &__cell{
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 16px;
        text-align: center;

        color: #63C93F;
        text-decoration: none;
        padding: 0 35px;
        &:hover{
            color: #000;
            text-decoration: underline;
        }
    }
}
