.block {
    border-width: 1px;
    border-color: rgb(233, 233, 233);
    border-style: solid;
    border-radius: 2px;
    background-color: rgb(255, 255, 255);
    display: block;
    width: 100%;
    overflow: hidden;
    text-decoration: none;
    @media screen and (max-width: 720px){
        border: none
    }
    &_indent{
        &_top{
            margin-top: 20px;
        }
    }
    &_border{
        &_none{
            border: none
        }
    }
    &_internal{
        &_m{
            padding: 20px 0;
            .icon_type_download{
                margin-right: 14px;
            }
        }
    }
    &_content{
        &_center{
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}   
