.achievements {
    border-bottom: 1px solid #DFDFDF;
    /* height: 100%; */
    padding-bottom: 30px;
    .h3{
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        font-size: 14px;
        letter-spacing: 0.1em;
        margin-bottom: 12px;
        color: #333333;
        margin-top: 25px;
        margin-bottom: 20px;
        padding-left: 24px;
    }
    &__cell{
        flex-grow: 1;
        padding: 0 5px;
        display: block;
        .image{
            width: 100%;
        }
    }
    &__row{
        display: flex;
        padding: 0 19px;
        justify-content: space-between;
    }
}
.achievements-text{
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    font-size: 14px;

    color: #000000;
    margin-top: 30px;
    margin-left: 19px;
}
.achievements-button{
    width: 268px;
    height: 47px;
    margin-bottom: 20px;

    background: #63C93F;
    margin-top: 30px;
    margin-left: 19px;
    @media screen and (max-width: 720px){
        height: auto;
        background:transparent;
        padding-bottom: 20px;
        .button{
            background: #63C93F;
            height: 47px !important;
        }
    }
    .button{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
}