.sidebar {
    background: #fff;
    &__list{
        margin: 0;
        padding: 0;
        margin-bottom:10px;
    }
    &__link-main{
        position: relative;
        width: 285px;
        height: 88.78px;
        outline: none;
        display: flex;
        align-items: center;
        border-right: 1px solid #DFDFDF;
        border-bottom: 1px solid #DFDFDF;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        font-size: 18px;
        text-align: center;
        text-decoration: none;

        color: #333333;
        span{
        padding-left: 40px;
       
        }
        @media screen and (max-width: 720px){
            width: 100%;
        }
        &.active{
            background: #63C93F;
            color: #FFFFFF;
            .icon{
                transform: translateY(-50%) rotate(-180deg)
            }
        }
        &:hover{
            background: #63C93F;
            color: #FFFFFF;
        }
    }
   &__link-h2{
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        font-size: 18px;
        text-align: left;
        padding-left: 50px;
        color: #333333;
        display: block;
        margin-bottom: 20px;
        margin-top: 20px;
        text-decoration: none;
        padding-right: 15px;
        &:hover{
            cursor: pointer;
            text-decoration: underline;
        }
   }
    &__item{
        list-style: none;
        position: relative;

     
        .icon{
                width: 15px;
                height: 8px;
        }
        .icon{
            position: absolute;
            transition: all .4s;
            right: 21px;
            top: 50%;
            opacity: 1;
            background-image: url(/static/arrow.png);
            background-repeat: no-repeat;
            padding-left: 0;
            transform: translateY(-50%);
            
        }
        &:hover {
            .icon{
                cursor: pointer;
                opacity: 1;
            }
           
        }
    }
    &__level {
        display: none;
        padding: 0;
        position: relative;
        
     border-bottom: 1px solid #ccc;

        li {
            list-style: none;
        }
    }
    &__indent {
        padding-bottom: 0;
    }
}